[package]
name = "laze"
version = "0.1.0"
authors = ["Kaspar Schleiser <kaspar@schleiser.de>"]
edition = "2018"

description = "A declarative build system for C projects aiming to be simple, fast and correct"
repository = "https://github.com/kaspar030/laze"
homepage = "https://github.com/kaspar030/laze"
license = "Apache-2.0"
readme = "README.md"

[dependencies]
anyhow = "1.0"
bincode = "1.3"
clap = "2.33.1"
derive_builder = "0.9.0"
indexmap = { version = "1.3", features = ["serde-1"] }
itertools = "0.9.0"
pathdiff = "0.2"
serde = "1.0"
serde_derive = "1.0"
serde_yaml = "0.8.14"
shell-words = "1.0.0"
simple-error = "0.2.2"
treestate = "0.1.0"
im = { version = "15.0.0", features = [ "rayon", "serde" ] }

[profile.release]
lto = true
