[package]
name = "laze"
version = "0.1.16-dev"
authors = ["Kaspar Schleiser <kaspar@schleiser.de>"]
edition = "2021"

description = "A declarative build system for C projects aiming to be simple, fast and correct"
repository = "https://github.com/kaspar030/laze"
homepage = "https://laze-build.org"
license = "Apache-2.0"
readme = "README.md"
include = ["src/**/*", "LICENSE", "README.md", "CHANGELOG.md", "!**/tests/**/*", "assets/**/*"]
rust-version = "1.64.0"  # MSRV (clap needs recent Rust)

[dependencies]
anyhow = "1.0.72"
bincode = "1.3.3"
clap = { version = "4.3.19", features = ["cargo", "env" ] }
derive_builder = "0.12.0"
indexmap = { version = "2.0.0", features = ["serde"] }
itertools = "0.11.0"
pathdiff = { version = "0.2.1", features = ["camino"] }
rayon = "1.7.0"
serde = "1.0.175"
serde_derive = "1.0.147"
serde_yaml = "0.9.25"
shell-words = "1.1.0"
simple-error = "0.3.0"
treestate = "0.1.0"
im = { version = "15.1.0", features = ["rayon", "serde"] }
signal-hook = "0.3.17"
mimalloc = { version = "0.1.37", default-features = false }
build_uuid = "0.3.0"
uuid = { version = "1.4.1", features = ["serde"] }
solvent = { version = "0.8.3", features = ["deterministic"] }
url = "2.4.0"
rust-embed = "6.8.1"
task_partitioner = "0.1.1"

clap_complete = "4.3.2"
clap_mangen = "0.2.12"
camino = { version = "1.1.6", features = ["serde1"] }
evalexpr = "11.0.0"

[profile.release]
lto = "fat"
incremental = false
codegen-units = 1

[package.metadata.release]
sign-commit = true
sign-tag = true
tag-name = "{{prefix}}{{version}}"
