[package]
name = "laze"
version = "0.1.8"
authors = ["Kaspar Schleiser <kaspar@schleiser.de>"]
edition = "2021"

description = "A declarative build system for C projects aiming to be simple, fast and correct"
repository = "https://github.com/kaspar030/laze"
homepage = "https://github.com/kaspar030/laze"
license = "Apache-2.0"
readme = "README.md"

[dependencies]
anyhow = "1.0.57"
bincode = "1.3.3"
clap = { version = "3.1.16", features = ["cargo", "env" ] }
derive_builder = "0.11.2"
indexmap = { version = "1.8.1", features = ["serde-1"] }
itertools = "0.10.3"
pathdiff = "0.2.1"
rayon = "1.5.2"
serde = "1.0.137"
serde_derive = "1.0.136"
serde_yaml = "0.8.24"
shell-words = "1.1.0"
simple-error = "0.2.3"
treestate = "0.1.0"
im = { version = "15.1.0", features = ["rayon", "serde"] }
signal-hook = "0.3.13"
mimalloc = { version = "0.1.29", default-features = false }
build_id = "0.2.1"
uuid = { version = "0.8.2", features = ["serde"] }
solvent = { version = "0.8.3", features = ["deterministic"] }
url = "2.2.2"
rust-embed = "6.4.0"


[profile.release]
lto = "fat"
incremental = false
codegen-units = 1
