[package]
name = "laze"
version = "0.1.9-git"
authors = ["Kaspar Schleiser <kaspar@schleiser.de>"]
edition = "2021"

description = "A declarative build system for C projects aiming to be simple, fast and correct"
repository = "https://github.com/kaspar030/laze"
homepage = "https://github.com/kaspar030/laze"
license = "Apache-2.0"
readme = "README.md"
include = ["src/**/*", "LICENSE", "README.md", "CHANGELOG.md", "!**/tests/**/*", "assets/**/*"]

[dependencies]
anyhow = "1.0.66"
bincode = "1.3.3"
clap = { version = "4.0.22", features = ["cargo", "env" ] }
derive_builder = "0.11.2"
indexmap = { version = "1.9.1", features = ["serde-1"] }
itertools = "0.10.5"
pathdiff = "0.2.1"
rayon = "1.5.3"
serde = "1.0.147"
serde_derive = "1.0.147"
serde_yaml = "0.9.14"
shell-words = "1.1.0"
simple-error = "0.2.3"
treestate = "0.1.0"
im = { version = "15.1.0", features = ["rayon", "serde"] }
signal-hook = "0.3.14"
mimalloc = { version = "0.1.31", default-features = false }
build_uuid = "0.3.0"
uuid = { version = "1.2.1", features = ["serde"] }
solvent = { version = "0.8.3", features = ["deterministic"] }
url = "2.3.1"
rust-embed = "6.4.2"


[profile.release]
lto = "fat"
incremental = false
codegen-units = 1

[package.metadata.release]
sign-commit = true
sign-tag = true
tag-name = "{{prefix}}{{version}}"
